# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node/Frontend
node_modules/
frontend/dist/
frontend/.env

# Database / Vector Store
chroma_db/
*.sqlite
*.db

# Large Data (Originals)
data/*.zip
# Allow chunks
!data/*.zip.*

# IDEs
.vscode/
.idea/
data/
